/* Login Container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Login Header */
  .login-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Login Form */
  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Form Actions */
  .form-actions {
    margin-top:15px;
    text-align: center;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #0070c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Login Footer */
  .login-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-footer a {
    text-decoration: none;
    color: #0070c9;
  }
  